body{
}
form{
	
	border: solid 2px;
	
	padding-left:10px;
	width:500px;
	
}
form{
background-color:white;
	position:absolute;
	top:120px;
}
.header{
	
	position:absolute;
	top:5px;
	
	
}